body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    text-align: center;
    transition: 0.4s ease;
}

#overlay.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#gif {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(70%);
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 10px black;
}

#name {
    font-size: 32px;
    font-weight: bold;
}

#amount {
    font-size: 28px;
    margin-top: -10px;
}

#message {
    font-size: 22px;
    margin-top: 5px;
}
