body {
  margin: 0;
  background: black;
}

#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#overlay.show {
  display: block;
}

#gif {
  width: 400px;
  height: auto;
}

#text {
  position: absolute;
  top: 20px;
  width: 100%;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
}
