body {
  margin: 0;
  overflow: hidden;
}

#overlay {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 20px;

  opacity: 0;
  transition: opacity 0.4s;
}

#overlay.show {
  opacity: 1;
}

#gif {
  width: 120px;
  height: 120px;
}

#text {
  color: white;
  font-family: Arial;
  text-shadow: 3px 3px 5px black;
}
